.logoImg{
  display: flex;
  margin: auto;
}
.logo-google{
  background: url(/LWP/Images/google-icon.png) no-repeat;
  background-size: contain;
  margin-right: 30%;
}
body {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #3E4AB8; 
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear forwards;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide {
  display: none;
}
