#colFechaNac{
    background-color: darkolivegreen;
}
*{
    color:lightgray;
}

td{
    font-family: 'Times New Roman', Times, Serif;

}


#tx{
    background-color: darkgray;

}

.tabla1{
    color:darkorange;
    background-color:darkblue;
    border-style: ridge;
    margin-top: 20px;
}
.tabla2{
    color: antiquewhite;
    background-color: darkseagreen;
    border-style:hidden;
    margin-top: 20px;
}
.tabla3{
    background-color: darkslategrey;
    margin-top: 20px;
    border-style:none;
}