body{
    background-image: url("/Week 10/Images/Fondo.jpg");
}

.CarLogo{
    height: 120px;
    width: 120px;
}

.car{
    padding-left: 50px;
}

header{
    padding: 15px 0px 0px 30px;
}

a{
    text-transform:none !important;
}

.wraper{
    margin-top: 90px;
    display: flex;
}

.left{
    height: 300px;
    width: 900px;
}

.right{
    height: 300px;
    width: 1400px;
}

footer{
    margin: 250px 0px 0px 0px;
}

.ex{
    width: 700px;
    height: 200px;
    margin: 0px 0px 0px 25%;
    padding-top: 40px;
}

div.sticky {
    position:static;
}

.codingeek{
    background-color: #111f70; 
    width: 180px; 
    height: 43px; 
    align-content: center;
}

.buynow{
    background-color: white; 
    width: 180px; 
    height: 43px; 
    align-content: center;
}
