img{
    height: 800px;
    width: 50%;
    background-size: cover;}

i{
    margin-left: 5%;
}


::placeholder{
    padding: 10px;
    font-size:small;}

.btn-LogIn{
    background-color: #0077ff;

}

.btn-Facebook{
    background-color: #3b5998 ;
}

.btn-Twitter{
    background-color: #00acee;

}

.btn-Google{
    background-color: #db4a39;
}
    

.forget-password{
    text-align: right;}
